$yellow: #F2CF7E;
$light-yellow: #F9F5E6;
$light-black: #2A2A38;
$black: #000;
$white: #FFFFFF;
$beige: #E5E0CD;

.slide_4 {
  background-color: $light-yellow;
  margin: 0 auto;
  width: 100%;
}

.usage {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  margin: 0 auto;

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
  }

  &__block {
    display: flex;
    margin: 0 auto;

    &__1 {
      display: grid;
      grid-template-areas:
    "one two"
    "three four";
    }

    &__2 {
      padding: 100px 0 0 66px;
    }
  }
}

.usage__item {
  padding: 100px 100px 0 0;

  &__pic {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $light-black;
  }
}

.mobile_usage {
  display: none;
}

.line_block {
  display: none;
}

.separator {
  width: 1px;
  height: 500px;
  border: 1px solid $beige;
  background-color: $beige;
  margin-top: 100px;
}

.choice_group {
  display: flex;
  padding-bottom: 28px;

  &__pic {
    margin-right: 25px;
  }

  &__text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.choice_button {
  width: 173px;
  height: 52px;
  background: $yellow;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 50px;
}

.choice_button:hover {
  box-shadow:0 0 5px $black;
  cursor: pointer;
}

.choice_button:focus {
  outline: none;
}

.usage_icon {
  &__1:hover {
    cursor: pointer;
    animation: rubberBand 0.6s ease;
  }

  &__2:hover {
    cursor: pointer;
    animation: rubberBand 0.6s ease;
  }

  &__3:hover {  cursor: pointer;
    animation: rubberBand 0.6s ease;
  }

  &__4:hover {
    cursor: pointer;
    animation: rubberBand 0.6s ease;
  }
}

@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1) scaleY(0.85);}
    100% {transform: scale(1);}
}


  @media (max-width: 1062px) {
    .separator {
      height: 550px;
    }
  }

  @media (max-width: 830px) {
    .usage__title {
      padding-bottom: 50px;
    }
    .usage__item {
      padding: 40px 50px 0 0;

      &__text {
        font-size: 10px;
        line-height: 18px;
      }
    }

    .usage__block {
      &__2 {
        padding: 40px 0 0 36px;
      }
    }

    .usage_icon {
      &__1, &__2, &__3, &__4 {
        width: 30%;
      }
    }

    .number {
      width: 40%;
    }

    #n_1 {
      width: 25%;
    }

    #n_4 {
      width: 45%;
    }

    .choice_group {
      &__text {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .choice_button {
      width: 153px;
      height: 46px;
      font-size: 14px;
      line-height: 20px;
      margin-top: 40px;
    }

    .separator {
      margin-top: 40px;
      height: 450px;
    }
  }

  @media (max-width: 644px) {
    .usage {
      padding: 80px 20px;
    }

    .usage__title {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 20px;
    }

    .usage__block {
      &__2 {
        padding: 40px 0 0 10px;
      }
    }

    .usage__item {
      &__text {
        font-size: 10px;
        line-height: 16px;
      }
    }

    .choice_group {
      &__pic {
        margin-left: 15px;
      }

      &__text {
        font-size: 10px;
        line-height: 14px;
      }
    }

    .choice_button {
      width: 123px;
      height: 42px;
      font-size: 12px;
      line-height: 18px;
      margin-top: 30px;
      margin-left: 20px;
    }

    .separator {
      margin-top: 40px;
      height: 400px;
    }
  }

  @media (max-width: 520px) {
    .usage {
      padding: 80px 10px;
    }

    .usage__title {
      font-size: 20px;
      line-height: 28px;
    }

    .usage__item {
      &__text {
        font-size: 7px;
        line-height: 12px;
      }
    }

    .choice_group {
      &__pic {
        margin-right: 10px;
        margin-left: 10px;
      }

      &__text {
        font-size: 8px;
        line-height: 14px;
      }
    }

    .choice_button {
      width: 93px;
      height: 32px;
      font-size: 10px;
      margin-top: 10px;
      margin-left: 5px;
    }

    .separator {
      margin-top: 40px;
      height: 320px;
    }
  }


  @media (max-width: 320px) {
    .usage {
      padding-right: 0;

      &__block {
        display: block;
      }
      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
      }
    }

    .usage__block__1 {
      display: none;
    }

    .separator {
      display: none;
    }

    .mobile_usage {
      display: flex;
      margin-top: 48px;
    }

    .mobile_usage__item {
      &__1 {
        justify-content: center;
        margin: 0 auto;
        align-items: center;
      }

      &__pic {
        display: flex;
        justify-content: space-between;
      }

      &__text {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $light-black;
      }
    }

    .mobile_usage__item {
      &__1 {
        max-width: 184px;
        margin-right: 70px;
      }

      &__pic2 {
        display: flex;
        flex-direction: column;
        margin-top: 27px;
      }
    }
    .cut_text {
      margin-top: 20px;
    }
    .mobile_number {
      width: 25%;
    }

    .line_block {
      display: flex;
      flex-direction: column;
    }

    .line {
      width: 258px;
      height: 0;
      border: 1px solid $beige;
      margin-top: 46px;
    }

    .ellipse {
      display: flex;
      margin: -45px auto 0 auto;
    }

    .scroll {
      display: flex;
      margin: -55px auto 0 auto;
    }

    .choice_group {
      display: flex;
      margin: 0 auto;
      padding-right: 10px;
      align-items: center;

      &__pic {
        padding-right: 12px;
      }

      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .choice_button {
      width: 288px;
      height: 46px;
      background: $yellow;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: $white;
      margin: 10px 0 50px 0;
    }

    .scroll:hover {
      cursor: pointer;
    }
  }